.contents__main
  .contents__top
    .contents__index
      %h1.group
        = @group.name
      %ul.member-list
        Member:
        %li.member-list__member
          - @members.each do |member|
            %li.member-list__member= member.name
    .contents__edit
      = link_to 'Edit',edit_group_path(@group),class: "edit"
  .contents__messages
    .messages
      = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          %i.fa.fa-image
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'