.contents__side
  .contents__side__index
    .contents__side__index__box
      .contents__side__index__box__name
        %p.name  
          = current_user.name
      .contents__side__index__box__menu
        .contents__side__index__box__menu__new  
          = link_to new_group_path, class: "facolor" do
            %i.fa.fa-edit 
        .contents__side__index__box__menu__edit
          = link_to edit_user_path(current_user), class: "facolor" do
            %i.fa.fa-cog
  .contents__side__group
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message
          